<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adventskalender</title>
    <link rel="stylesheet" href="./css/style-calendar.css">
</head>
<body>
    <header>
        <h1>Willkommen <%= user.username %> in deinem Adventskalender!</h1>
    </header>
    <div id="advent-calendar"></div>
    <script src="./modules/functions.js"></script>
    <script src="./js/calendar.js" type="module"></script>
</body>
</html>